extends layout

block content
  h1= title
  p Welcome to #[em Haunted Inventory], a site created as a project for learning NodeJs.
  p A place where users can leave stories about strange objects they have encountered.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The Inventory has the following record counts:

    ul
      li #[strong Items:] !{data.item_count}
      li #[strong Item types:] !{data.item_type_count}
    div
     a(href='/catalog/items') Item List
    div
    a(href="/catalog/itemtypes") Type List
