extends layout

block content
  h1= title

  ul
    each item in item_list
      li
       a(href=item.url) #{item.item_name}
      | -  #{item.item_about}


    else
      li There are no books.

    div
     a(href='/catalog/item/create') Create Item
