@font-face { font-family: JuneBug; src: url('Haunted.ttf'); }

body {
  padding: 50px;
  font: 20px JuneBug, Helvetica, Arial, sans-serif;
  background-color:black;
  color:white;


}


a {
  color: #00B7FF;
}

.intro{display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  }

  h1{text-align:center}

  .header{color:green}

  .itemImg{width:300px; height:300px;}
